*{
    margin: 0;
    padding: 0;
  }
  body {
    background: white;
    color: #333;
  }
  
  
  .wrapper{
    margin-top: 40px;
    margin-left: 15px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }
  header h1 {
    color: #007bff;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  header h3 {
    color: #1305ad;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-left: 60px;
    width: 65%;
    margin-bottom: 20px;
  }
  header p {
    color: #047ef9;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-left: 60px;
    width: 65%;
  }
  .resized-image {
    width: 300px;     
    height: auto;
    margin-left: 90px;
    align-items: center;  
  }
  .first {
    display: inline-block; 
    padding: 5px 10px; 
    background-color: #265cff; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 10px;
    border: none; 
    font-size: 12px; 
    transition: background-color 0.3s ease; 
  }
  
  .first:hover {
    background-color: #45a049; 
  }
  .login-container{
    margin-left: 20px;
  }
  .login-container h2{
    margin-top: 10px;
  }
  .login-container h1{
    margin-top: -25px;
    margin-bottom: 20px;
    color: #047ef9;
  }
  .resized-logo {
    width: 60px;     
    height: auto;
  }
  label {
    font-weight: 500; 
  }
  .input-with-icon {
    position: relative; 
    display: flex;
    align-items: center;
  }
  
  .input-with-icon .input-icon {
    position: absolute;
    left: 10px; 
    color: #888; 
    pointer-events: none; 
  }
  
  .input-with-icon input {
    padding-left: 35px; 
    height: 40px; 
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .forgot{
    padding-top: 10px;
    text-align: end;
    padding-bottom: 20px;
  }
  .btn-signin{
    display: inline-block; 
    padding: 5px 10px; 
    background-color: #265cff; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 10px;
    border: none; 
    font-size: 12px; 
    transition: background-color 0.3s ease; 
  }
  .btn-signin:hover {
    background-color: #45a049; 
  }
  /* Google Sign-In Button */
.btn-google {
    align-items: center;
    justify-content: center;
    background-color: white; /* Background color for the button */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 5px;
    padding: 10px 20px;
    color: #333; /* Text color */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Google Icon */
  .google-icon {
    margin-right: 10px; /* Space between icon and text */
    font-size: 18px;
    color: red;
    
  }
  
  /* Hover Effect */
  .btn-google:hover {
    background-color: #f1f1f1; /* Light gray background on hover */
  }
  